[Unit]
Description=Service that keeps running the tensorflow-model server from startup

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=<your-path-directory>/serve_model.sh
WorkingDirectory=<your-path-directory>
User=<your-username>
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
